$primary: hsl(219, 100%, 64%);
$primaryDark: hsl(219, 100%, 58%);
$textDark: hsl(218, 74%, 15%);
$textSecondary: hsl(219, 21%, 39%);
$textLight: white;
$background: white;
$backgroundSecondary: #f4f4f4;
