body,
html {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
a {
  color: #bbbbbb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code {
  white-space: pre;
}
code span {
  color: blueviolet;
  background: none;
}
h2 {
  margin-top: 0;
}
main section {
  padding: 32px 0;
  background: #e7e7e7;
}
main section:nth-child(2n) {
  background: none;
}
main ul li {
  list-style-type: circle;
}

header {
  position: sticky;
  top: 0;
  background: white;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.head-menu {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.head-menu ul {
  display: flex;
}
.head-menu ul li {
  display: block;
  margin: 0 8px;
}
.photo {
  height: 400px;
  padding: 0;
  background: #868686;
}
.photo .container {
  display: flex;
  align-items: center;
}
.name {
  margin-left: 100px;
  color: white;
}
.name p {
  margin: 0;
  font-size: 50px;
}
.name ul {
  padding: 0;
}
.name ul li {
  display: block;
}
footer {
  padding: 24px 0;
  background: #e7e7e7;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rs-school {
  display: flex;
  flex-direction: column;
}

